@charset "UTF-8";
/*-------------Обнуление--------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----ПЕРЕМЕННЫЕ----*/
/*-------------Общие стили--------------*/
body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #887979;
  background-color: #282828;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.title {
  color: #ffffff;
}

.section__title {
  margin: 0 auto;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}
.section__title::after {
  content: "";
  display: block;
  width: 172px;
  height: 6px;
  margin: 28px auto 65px;
  background-color: #9c1c28;
}
.section__subtitle {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
.section__subtitle::after {
  content: "";
  display: block;
  width: 89px;
  height: 6px;
  margin: 16px 0 32px;
  background-color: #9c1c28;
}
.section__text {
  max-width: 480px;
  letter-spacing: 0.75px;
}

.btn {
  display: block;
  height: 38px;
  padding-top: 8px;
  background-color: #9c1c28;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn:hover {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.scroll-top {
  height: 45px;
  width: 45px;
  background-color: #ff3448;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  display: none;
}
.scroll-top:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 700px) {
  .scroll-top {
    height: 35px;
    width: 35px;
    bottom: 20px;
    right: 20px;
  }
}

.banner {
  width: 100%;
  height: 100vh;
  background: center/cover no-repeat;
}
@media (max-width: 750px) {
  .banner {
    height: 90vh;
  }
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #303030;
  padding: 20px 0px 0px 55px;
}
.services__item:nth-child(2), .services__item:nth-child(3) {
  background-color: #1c1c1c;
}
.services__item-info {
  width: 45%;
}
.services__item-title {
  display: block;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.services__item-title:hover {
  color: #ff3448;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.services__item-description {
  font-size: 20px;
  color: #979696;
}
.services__item-img {
  width: 42%;
  max-height: 327px;
}

.features {
  padding: 85px 0 120px;
}
.features__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100px;
  margin: 40px auto 0;
}
.features__slider .slick-dots li {
  list-style: none;
}
.features__slider .slick-dots li.slick-active button {
  background-color: #e74c3c;
}
.features__slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999999;
}
.features__slider-content {
  height: 372px;
  overflow: hidden;
}
.features__slider-item {
  display: inline-block;
  position: relative;
  margin: 0 5px;
  background-color: #363636;
}
.features__img-container {
  width: 70%;
  height: 209px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}
.features__item-img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.features__item-title {
  display: block;
  margin: 20px 0;
  font-size: 17px;
  color: #ff3448;
  text-transform: uppercase;
  text-align: center;
}
.features__item-price {
  display: block;
  margin: 0 auto 20px;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}

.offers {
  padding: 100px 0;
  background: url(../img/bg.png) center/cover no-repeat;
}
.offers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.offers__item {
  width: 45%;
  text-align: center;
}
.offers__item:nth-child(1) {
  position: relative;
}
.offers__item:nth-child(1)::after {
  display: inline-block;
  content: "";
  width: 2px;
  height: 172px;
  background-color: #ffffff;
  position: absolute;
  right: -10%;
  top: 20%;
}
.offers__item-title {
  display: block;
  margin-bottom: 18px;
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
}
.offers__item-subtitle {
  display: block;
  margin-bottom: 28px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.offers__item-text {
  display: block;
  margin-bottom: 30px;
  color: #ffffff;
}
.offers__item-btn {
  width: 170px;
  margin: 0 auto;
}

.newsteller {
  padding: 100px 60px;
}
.newsteller__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newsteller__input {
  max-width: 330px;
  height: 37px;
  margin: 15px 0 35px;
}
.newsteller__btn {
  width: 142px;
  padding-top: 0px;
  margin-bottom: 65px;
}
.newsteller__text {
  max-width: 335px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 200px;
}
.social__link {
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.social__link:hover {
  color: #9c1c28;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.social__icon {
  font-size: 20px;
}

.header {
  background-color: #212121;
  color: #a2a2a2;
}
@media (max-width: 950px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
  border-bottom: 2px solid #a2a2a2;
}
@media (max-width: 950px) {
  .header__content-top {
    display: none;
    border-bottom: 0;
  }
}
.header__address::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 15px;
  background-color: #a2a2a2;
  margin: 0px 5px;
}
.header__content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
}
@media (max-width: 970px) {
  .header__logo {
    width: 90%;
  }
}
@media (max-width: 950px) {
  .header__userbar {
    display: none;
  }
}
.header__info {
  margin-right: 10px;
  text-align: right;
}
.header__phone {
  margin-bottom: 20px;
}
.header__link {
  font-size: 20px;
  color: #ffffff;
}
.header__link:hover {
  color: #ff3448;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
}
@media (max-width: 950px) {
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__nav-link {
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__nav-link:hover {
  color: #ff3448;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 950px) {
  .header__nav-link {
    display: block;
    margin: 10px 0;
  }
}

.address__icon {
  margin-right: 5px;
  color: #ff3448;
}

.search {
  width: 250px;
  position: relative;
  -webkit-transform: translateX(-50%, -50%);
          transform: translateX(-50%, -50%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media (min-width: 950px) {
  .search {
    width: 25px;
    height: 27px;
    margin-bottom: 0;
  }
  .search:hover {
    width: 200px;
    cursor: pointer;
  }
}
.search:hover .search__input {
  display: block;
}
.search:hover .search__btn {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: #ff3448;
}
.search:hover .search__icon {
  color: #212121;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.search__input {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 27px;
  outline: 0;
  border: 1px solid #ff3448;
  background-color: #212121;
  border-radius: 0;
}
.search__input:hover {
  display: block;
}
.search__input::-webkit-input-placeholder {
  padding-left: 5px;
  color: #a2a2a2;
}
.search__input::-moz-placeholder {
  padding-left: 5px;
  color: #a2a2a2;
}
.search__input:-ms-input-placeholder {
  padding-left: 5px;
  color: #a2a2a2;
}
.search__input::-ms-input-placeholder {
  padding-left: 5px;
  color: #a2a2a2;
}
.search__input::placeholder {
  padding-left: 5px;
  color: #a2a2a2;
}
.search__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 27px;
  width: 26px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 0;
  background-color: #212121;
}
.search__icon {
  font-size: 17px;
  color: #a2a2a2;
}

.userbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 950px) {
  .userbar {
    display: none;
  }
}
.userbar__item {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.userbar__item:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 60px;
  position: absolute;
  left: 0;
  background-color: #a2a2a2;
  margin-right: 3px;
}
.userbar__item:hover .userbar__icon {
  font-size: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.userbar__icon {
  margin-bottom: 20px;
  font-size: 25px;
  color: #ff3448;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 970px) {
  .userbar__icon {
    font-size: 20px;
  }
}
.userbar__text {
  color: #ffffff;
  text-transform: uppercase;
}

.phone__icon {
  margin-right: 5px;
  color: #ff3448;
}

.worktime {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__icon {
  display: none;
}
@media (max-width: 950px) {
  .nav__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 10px;
    z-index: 5;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .nav__icon span {
    position: absolute;
    background-color: #ff3448;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before, .nav__icon::after {
    content: "";
    background-color: #ff3448;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before {
    top: 0;
  }
  .nav__icon::after {
    bottom: 0;
  }
  .nav__icon.active span {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  .nav__icon.active::before {
    -webkit-transform: rotate(-47deg);
            transform: rotate(-47deg);
    width: 75%;
  }
  .nav__icon.active::after {
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);
    width: 75%;
  }
}
.nav__body {
  padding: 18px 0 15px;
  background-color: #030303;
}
@media (max-width: 950px) {
  .nav__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(36, 32, 32, 0.93);
    padding-top: 180px;
    z-index: 1;
  }
}
.nav__body.active {
  top: 0;
}

.footer {
  padding: 50px 0;
  background-color: #000000;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #887979;
}
.footer__link {
  display: block;
  margin: 12px 0;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer__link:hover {
  color: #9c1c28;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer__link:last-child {
  margin-bottom: 25px;
}
.footer .address {
  color: #ffffff;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
}
.copyright__bold-text {
  color: #ffffff;
  font-weight: 700;
}

.payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
}
.payments__icon {
  font-size: 25px;
  color: #ffffff;
}